.display {
    background-color: var(--background-secundario);
    height: calc(var(--font-size) * 2);
    padding: 2rem;
    box-shadow: var(--inner-shadow);
    border-radius: .3rem;
}
.display #track, .display #display {
    height: calc(var(--font-size) + 1rem);
    word-break: break-all;
    overflow-y: auto;
    max-width: 100%;
}
.display #track::-webkit-scrollbar, .display #display::-webkit-scrollbar {
    /* display: none; */
    width: .5rem;
    /* background: var(--background-secundario); */
}
::-webkit-scrollbar-thumb {
    border-radius: 20%;
    background-color: var(--background-terciario);
  }
/* .display #track, .display #display {
    -ms-overflow-style: none; /* IE and Edge*/
  /* scrollbar-width: none;  */
/* }  */

@media screen and (min-width: 712px) {
    .display {
        height: calc((var(--font-size) * 2) + 2rem);
        font-size: var(--font-bigger);
    }
}
@media screen and (min-width: 1200px) {
    .display {
        padding: 1.5rem;
    }
}