.numbers {
    display: flex;
    width: calc(80vw - 4rem);
    padding: 1rem 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: .5rem;
}

@media only screen and (min-width: 1200px) {
    .numbers {
        width: calc(40vw - 4rem);
        gap: .5rem;
    }
}